#header {
  text-align:center;
  background-color: rgb(52, 120, 245);
  color:white;
  width:100%;
  height:100%;
}
#header h1 {
  margin-top:0;
  padding-top: 10px;
}

#header p {
  padding-bottom: 10px;
}
body {
  background-color: rgb(243, 243, 243);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin:0;

}
body #header{
  margin:0;
}
#main-content{
  margin-right:15px; 
  margin-left:15px; 
}
.important {
  color:red;
}
#quiz-section {
  background-color: aliceblue;
  
  padding:22px;
  display: flex;
  justify-content:flex-start;
  align-items:center;
  flex-wrap: wrap;
  gap:24px;
  border:1px solid black;
  border-radius: 20px;
}
.quiz-content {
  flex:1;
}
#quiz-section img{
  display:block;
  align-items: flex-end;
  gap:24px;
  border: 2px solid blueviolet;
  margin-right:15px;
}
#quiz-section #question1{
  margin:10px;
}
#quiz-section input{
  margin:10px;
  padding:5px;
}

#species-table{
  margin-right:15px; 
  margin-left:15px;
}
#species-table table{
  border:2px solid black;
  border-radius:5px;

}
th {
  background-color:rgb(151, 149, 149);
  color:white;
  padding:10px;
}
td{
  padding:10px;
}
#footer {
   
  margin-top:15px;
  margin-bottom:15px;
  padding-top:3px;
  padding-bottom:3px;
  text-align:center;
  background-color:rgb(172, 172, 172);
}